@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #49FFE6;
  --background: #0F1115;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #49FFE6;
    --background: #0F1115;
    
  }
}

body {
    background: var(--background);
}
.primary-color{
  color: var(--primary-color);
}
