@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #49ffe6;
  --background: #0f1115;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #49ffe6;
    --background: #0f1115;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body {
  background: var(--background);
}
.primary-color {
  color: var(--primary-color);
}
