@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #49ffe6;
  --background: #0f1115;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #49ffe6;
    --background: #0f1115;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body {
  background: var(--background);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Style for WebKit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.primary-color {
  color: var(--primary-color);
}
